  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Over Onlinegoal.nl</h5>
          <p class="grey-text text-lighten-4">Wij zijn Niels en Martijn van onlinegoal.nl wij helpen jou je online doel te bereiken. Door middel van onze kennis en ervaring met online techniek en marketing </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li>☎     +31 6 54303707</li>
            <li>✉      niels@onlinegoal.nl</li>
            <li>➤      www.onlinegoal.nl</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div>
                <span target="_blank" class="blue-text text-lighten-3" >Onlinegoal.nl</span>
            </div>
        </div>
    </div>
</footer>
