<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">Onlinegoal.nl</a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down">
            <li><a href="{{ "/" | relative_url }}">Onlinegoal</a></li>
            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- Contact modal -->
            <li>
              <a href="#contact-modal" class="orange waves-effect waves-light btn modal-trigger">
                <i class="material-icons right">mail_outline</i>
                Get in touch
              </a>
            </li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="{{ "/" | relative_url }}">Onlinegoal</a></li>
                            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <li>
              <a href="#contact-modal" class="orange waves-effect waves-light btn modal-trigger">
                <i class="material-icons right">mail_outline</i>
                Get in touch
              </a>
            </li>

          </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!-- Modal Structure -->
<div id="contact-modal" class="modal">
  <form action="https://formspree.io/niels@onlinegoal.nl" method="POST">
  <div class="modal-content">

    <div class="col s12 m7">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p><i class="tiny material-icons light-blue-text">local_phone</i>&nbsp;&nbsp;&nbsp; {{ site.data.contact.phone }}</p>
            <p><i class="tiny material-icons light-blue-text">email</i>&nbsp;&nbsp;&nbsp; {{ site.data.contact.email }}</p>
            <p><i class="tiny material-icons light-blue-text">arrow_forward</i>&nbsp;&nbsp;&nbsp; {{ site.data.contact.website }}</p>
          </div>
        </div>
      </div>
    </div>

    <h6>Of stuur ons een bericht via onderstaand formulier</h6>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix light-blue-text">email_outline</i>
        <input id="email" name="_replyto" type="email">
        <label for="email">Emailadres</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix light-blue-text">chat</i>
        <input name="name" id="message" type="text" >
        <label for="message">Bericht</label>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="orange btn waves-effect waves-light" type="submit" name="action">Verzend</button>
  </div>
  </form>
</div>
