---
layout: default
---

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>

    <div class="center-align">
      <img class="size-50 responsive-img" src="/assets/website-laten-maken-logo.png" alt="Logo door Freepik van www.flaticon.com "/>
    </div>

    <h1 class="header center blue-text">online doeltreffendheid</h1>
    <div class="row center">
      <h5 class="header col s12 light">voor starters, mkb en zzp'ers</h5>
    </div>

<!--
    <div class="row center">
      <h5 class="header col s12 light">{{ content }}</h5>
    </div>

    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button"
         class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>
-->

  </div>
</div>

<br>
<br>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Proposities testen</h5>

          <p class="light">Hoe weet je welk idee je moet gaan uitwerken? Wij kunnen voor jou een aantal landingspaginas opzetten om jou beste proposisites te testen,
            om vervolgens het beste idee uit te werken.</p>
          <a href="{{ "/proposities-testen" | relative_url }}"> Klik hier om meer de lezen over propisities testen</a>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flight_takeoff</i></h2>
          <h5 class="center">Minimum Viable Product</h5>

          <p class="light">Als je een idee hebt gekozen, kun je er een Minimum Viable Product (MVP) van maken, zodat gebruikers jou platform ook echt kunnen gaan gebruiken.</p>
          <a href="{{ "/minimum-viable-product" | relative_url }}"> Klik hier om meer te leren ove MVP's</a>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">important_devices</i></h2>
          <h5 class="center">Website</h5>

          <p class="light">Je kunt bij ons ook gewoon een website afnemen, bijvoorbeeld voor je egein bedrijf. Een website begint bij €899</p>
          <a href="{{ "/websites" | relative_url }}"> Klik hier voor meer informatie over websites</a>
        </div>
      </div>
    </div>

  </div>

</div>

<br>
<br>
<br>
<br>
<!-- Latest posts
<div style="background: #ddd">
  <div class="container last-post">
    <section>
      <h5>Latest Post</h5>
      <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link"
                                 href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
            {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>-->

</div>
