<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "nl" }}">

{% include head.html %}

  <body>

  <script>
    window.onload = setTimeout(function() {
    // similar behavior as clicking on a link
    window.location.href = "{{ page.redirectUrl }}";
  }, {{ page.wait }});
  </script>


  {% include header.html %}


  {{ content }}

  <br>
  <br>
  <div class="center-align">
    <img class="size-20 responsive-img" src="/assets/website-laten-maken-logo.png" alt="Logo door Freepik van www.flaticon.com "/>
  </div>

  </body>

</html>
